{% extends 'layout.html'%}

{% block content %}




<h2 align="center">All Users</h2>



<div class="card bg-dark  text-white mb-3" style="width: 10rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Total User </h5>
    <p class="card-text text-center">{{ count }}</p>
   
  </div>
</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
           
            <th scope="col">ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Store Name</th>
            <th scope="col">Store Address</th>
            <th scope="col">Store Phone</th>
            <th scope="col">Delete</th>
            <th scope="col">Views</th>
             
        </tr>
    </thead>
    <tbody>

        <tr>
            {% for user_profile in user_profiles %}
            <th scope="row">{{user_profile.id}}</th>
            <td>{{user_profile.username}}</td>
            <td>{{user_profile.email}}</td>
            <td>{{user_profile.storename}}</td>
            <td>{{user_profile.storeaddress}}</td>
            <td>{{user_profile.storephone}}</td>
            
            <td><a class="btn-sm btn-danger" href="{% url 'deleteuser' user_profile.user_id_id  %}">Delete</a></p>
            <td><a class="btn-sm btn-success" href="{% url 'Viewusercustomer' user_profile.id  %}">Views</a></p>
            
            </td>
        </tr>
        {% endfor %}
         
        </tr>
    </tbody>
</table>




{% endblock %}