{% extends 'layout.html'%}

{% block content %}

<h2 align="center">Location and damage history</h2>


<table class="table table-lg text-reponsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Latitude</th>
      <th scope="col">longtitude</th>
      <th scope="col">Damage</th>
      <th scope="col">Date</th>

    </tr>
  </thead>
  <tbody>
    
    <tr class="table table">
      <th scope="row">11</th>
      <td>111</td>
      <td>1</td>
      <td>1</td>
      <td>
        <a class="btn-sm btn-success" href="/">Views</a></p>
      </td>


    </tr>
   
    </tr>
  </tbody>
</table>




{% endblock %}